<template>
  <div :class="className">
    {{ value }}
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "SinoButton",
  props: {
    type: { type: String, default: "" },
    size: { type: String, default: "" },
    value: { type: String, default: "" },
  },
  computed: {
    className() {
      return (
        "sino-button" +
        (this.type != "" ? " sino-button-" + this.type : "") +
        (this.size == "mini" ? " sino-button-size-mini" : " sino-button-size")
      );
    },
    labelStyle() {
      return {
        "text-align": this.textAlign,
      };
    },
  },
};
</script>