<template>
  <table :style="{ width: this.width }" class="sino-table">
    <thead>
      <tr>
        <th
          v-for="(col, colIndex) in columns"
          :key="colIndex"
          :style="getColumnStyle(col)"
        >
          {{ col.title ? col.title : "" }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(row, rowIndex) in data" :key="rowIndex">
        <td v-for="(col, colIndex) in columns" :key="colIndex">
          {{ col.name ? row[col.name] : "" }}
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  name: "SinoDatatable",
  props: {
    width: { type: String, default: "100%" },
    data: {
      type: Array,
      default() {
        return [];
      },
    },
    columns: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {},
  methods: {
    getColumnStyle(item) {
      if (item.width) {
        return { width: item.width };
      } else {
        return {};
      }
    },
  },
};
</script>