<template>
  <div class="ly-c-container">
    <div
      v-if="this.$slots.header || header"
      class="ly-c-container-head"
      :style="{ height: headerheight }"
    >
      <slot name="header"></slot>
    </div>
    <div class="ly-c-container-main">
      <slot name="main"></slot>
      <div
        v-if="this.$slots.left || left"
        class="left"
        :style="{ width: leftWidth }"
      >
        <slot name="left"></slot>
      </div>
      <div class="context">
        <slot name="context"></slot>
      </div>
      <div
        v-if="this.$slots.right || right"
        class="right"
        :style="{ width: rightWidth }"
      >
        <slot name="right"></slot>
      </div>
    </div>
    <div
      v-if="this.$slots.footer || footer"
      class="ly-c-container-foot"
      :style="{ height: footerHeight }"
    >
      <slot name="footer"></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: "SinoContainer",
  props: {
    headerheight: {
      type: String,
      default: "",
    },
    footerHeight: {
      type: String,
      default: "",
    },
    leftWidth: {
      type: String,
      default: "",
    },
    rightWidth: {
      type: String,
      default: "",
    },
  },
};
</script>