<template>
    <div :class="'ly-c-card'" :style={width:width,background:bgcolor,borderRadius:isradius}>
        <div class="ly-c-head">
            <slot v-if="this.$slots.header && title===''" name="header"></slot>
            <span class="sk-c-small-title ly-c-small-title"  v-if="title!=''">{{title}}</span>
        </div>
        <div class="ly-c-card-main">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name:"SinoCard",
    props:{
        width:{
            type:String,
            default:""
        },
        isradius:{
            type:String,
            default:'15px'
        },
        title:{
            type:String,
            default:''
        },
        bgcolor:{
            type:String,
            default:'#fff'
        }
    },
    data() {
        return {
           
        }
    },
};
</script>