<template>
  <div>
    <SinoDialog
      :show="showDialog"
      @confirm="confirm2"
      @cancel="cancel"
      :show-cancel="true"
      :title="'新标题'"
      :confirm-text="`知道了`"
      :cancel-text="`关闭`"
    >
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
    </SinoDialog>
  
    <SinoDialog
      :show="showDialog2"
      @confirm="confirm2"
      :title="'弹窗组件标题'"
      :confirm-text="`知道了`"
    >
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
      <p>主题内容</p>
    </SinoDialog>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                // 控制两个弹窗组件的初始显示与隐藏
                showDialog: true, 
                showDialog2: true,
            }
        },
        methods: {
            cancel(show) {
                this.showDialog = show
            },
            confirm(show) {
                this.showDialog = show
            },
            cancel2(show) {
                this.showDialog2 = show
            },
            confirm2(show) {
                this.showDialog2 = show;
            },
        }
    }
</script>
