/* ----------Begin grid---------- */
.ly-c-grid-row {
  display: flex;
  width: 100%;
}
.ly-c-grid-col {
  padding: 5px;
  flex: 1;
}
  /* ----------End grid------------ */

/*----------Begin container------------*/
.ly-c-container{
  width: 100%;
 }
.ly-c-container-main{
  width: 100%;
  display: flex;
}
.ly-c-container-head{
  width: 100%;
}
.ly-c-container-main>.context{
  flex:1;
}
.ly-c-container-main>.left{
  text-align: center;
}
.ly-c-container-main>.right{
  text-align: center;
}
.ly-c-container-head{
  width: 100%;
}
/* ----------End container------------*/

/* ----------Begin Card----------- */
.ly-c-card{
  width: 100%;
  height:100%;
  box-shadow: #000 0px 0px 6px;
  box-sizing: content-box;
}
.ly-c-head{
  width: 100%;
}
.ly-c-card-header{
  width: 100%;
  padding: 10px 0;
}
.ly-c-card-main{
  width: 100%;
  height: 100%;
}
.ly-c-small-title{
  display: inline-block;
  margin: 10px 0;
}
/* ----------End Card------------*/

/* ----------Begin Tab-----------*/
.ly-c-tab{
  width: 100%;
  height: 100%;
}
.ly-c-tabCard{
  display: flex;
  height: 60px;
  justify-content: space-around;
}


/* ----------Begin Form----------- */
.ly-c-form{
  width: 100%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
}

.ly-c-form-item{
  float: left;
  clear: right;
  display: flex;
}
.ly-c-form-content{
  margin: 5px;
}
.ly-c-label{
  margin: 5px;
}
/* ----------End Form-----------*/
 /*------- Begin input---------*/
 .ly-c-input-left{
   padding-left: 25px!important;
 }
.ly-c-input-right{
  padding-right:25px!important;
}
.ly-c-iconfont-left{
  font-size: 20px;
  position: absolute;
  left: 10px;
  z-index:1;
}
.ly-c-input-container{
  position: relative;
}
.ly-c-iconfont-right{
  font-size: 24px;
  position: absolute;
  right: 10px;
  z-index:1;
} 
/*------- End input-----------*/

/*--------Begin DataPicker*/
.ly-c-dataPicker{
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.ly-c-calendar-container {
  width: 100%;
}
.ly-changeSelect{
  border: none;
  outline: none;
}
.ly-c-datePicker-input{
  width: 100%;
  height: 30px;
}
.ly-input-time{
  float: right;
  margin-right:14%
}
.ly-c-datePicker-time{
  width: 174px;
  height: 150px;
  justify-content: space-around;
  position: absolute;
  right: 14%;
  top: 26%;
  background: #fff;
  box-shadow:0 0 5px #000;;
}
.ly-c-time-button{
  width: 100%;
  height: 30px;
  border-top: 1px solid #ccc;
}
.ly-c-datePicker-time>ul{
  height: 80%;
  width: 87px;
  overflow-y: scroll;
}
.ly-c-hours{
  height: 80%;
  width: 87px;
  overflow-y: scroll;
  float: left;
}
.ly-c-year {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.ly-c-date {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.ly-c-week {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.ly-c-week > li {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.ly-c-dataPicker li {
  list-style: none;
  cursor: pointer;
}
.ly-c-date {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.ly-c-date > li {
  width: 14%;
  text-align: center;
}

.ly-c-year > div {
  overflow: hidden;
}
.ly-c-year span {
  line-height: 30px;
  display: inline-block;
  width: 10%;
}
.ly-c-year p {
  line-height: 2px;
  width: 30%;
  display: inline-block;
}
.ly-c-fl {
  float: left;
  cursor: pointer;
}
.ly-c-fr {
  float: right;
  cursor: pointer;
}
.ly-c-datePicker-sure{
  outline: none;
  border-radius: 3px;
  float: right;
  margin-top: 4px;
}
.ly-c-datetime-sure{
  outline: none;
  border-radius: 3px;
  float: right;
  margin-top: 4px;
}
.ly-c-datetime-no{
  outline: none;
  border-radius: 3px;
  float: right;
  margin-top: 4px;
}
.ly-c-datePicker-no{
  outline: none;
  border-radius: 3px;
  float: right;
  margin-top: 4px;
}
/*-------End */