body,
html,
span,
a,
ul,
li,
input,
label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}
/* ----------Begin Size---------- */
.sino-size {
  line-height: 40px;
}
.sino-size-mini {
  line-height: 24px;
}
/* ----------End Size------------ */

/* ----------Begin Skin---------- */
.sk-sino-border {
  border: 1px solid #c0c4cc;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
}
.sk-sino-border:focus {
  border: 1px solid #519fff;
  box-shadow: 0px 0px 5px #519fff;
}
.sk-sino-border:hover {
  border: 1px solid #519fff;
}
/* ----------End Skin------------ */

/* ----------Begin input---------- */
.sino-input {
  display: flex;
  min-width: 300px;
}

.sino-input input {
  padding: 0 5px;
  flex: 1;
}
.sino-input textarea {
  padding: 5px;
  min-height: 80px;
  flex: 1;
}
.sino-size input {
  height: 40px;
  line-height: 40px;
}
.sino-size-mini input {
  height: 24px;
  line-height: 24px;
}
.sino-size textarea {
  line-height: 40px;
}
.sino-size-mini textarea {
  line-height: 24px;
}
/* ----------End input------------ */

/* ----------Begin label---------- */
.sino-size .sino-label {
  height: 40px;
  line-height: 40px;
}
.sino-size-mini .sino-label {
  height: 24px;
  line-height: 24px;
}

.sino-label {
  min-width: 100px;
  box-sizing: border-box;
  padding: 0 5px;
  display: inline-block;
}

.sino-label-text {
  padding: 0 5px;
  display: inline-block;
}
/* ----------End label------------ */

/* ----------Begin check---------- */
.sino-check {
  display: flex;
}
.sino-check .sino-list {
  flex: 1;
}
.sino-check .sino-list-item {
  margin-right: 10px;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  display: inline-block;
}
.sino-check .sino-list-item .sino-label-text {
  cursor: default;
}

.sino-check .sino-checkbox {
  display: inline-block;
  position: relative;
  border: 1px solid #c0c4cc;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  line-height: 24px;
  display: inline-block;
}
.sino-check .sino-checkbox::after {
  box-sizing: content-box;
  content: " ";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.sino-check .checked .sino-checkbox {
  border: 1px solid #519fff;
  background-color: #519fff;
}
.sino-check .checked .sino-checkbox::after {
  transform: rotate(45deg) scaleY(1);
}
.sino-check .checked .sino-label-text {
  color: #519fff;
}
/* ----------End checked------------ */

/* ----------Begin drop---------- */
.sino-check .sino-drop-content {
  padding: 0 5px;
  flex: 1;
  position: relative;
  display: flex;
  background-color: #fff;
}
.sino-drop {
  position: relative;
}
.sino-drop .sino-dropdown {
  position: absolute;
  left: 0px;
  width: 100%;
  max-height: 150px;
  border: 1px solid #c0c4cc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  list-style: none;
}
.sino-drop .sino-dropdown li {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 10px;
}
.sino-drop .sino-dropdown li.checked {
  color: #519fff;
}
.sino-drop .sino-dropdown li:hover {
  background-color: #519fff;
  color: #fff;
}
.sino-size .sino-dropdown {
  top: 40px;
}
.sino-size-mini .sino-dropdown {
  top: 24px;
}

.sino-check .sino-drop-content input {
  padding: 5px;
  flex: 1;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
}
.sino-check .sino-drop-content input:focus {
  outline: none;
  border: none;
}
.sino-check .sino-drop-content .sino-icon {
  width: 20px;
  display: inline-block;
}
.sino-check .sino-drop-content .sino-icon-up::after {
  content: "∧";
}
.sino-check .sino-drop-content .sino-icon-down::after {
  content: "∨";
}
.sino-check .sino-drop-content:hover .sino-icon-up::after {
  color: #519fff;
}
.sino-check .sino-drop-content:hover .sino-icon-down::after {
  color: #519fff;
}
.sino-size .sino-drop-content {
  height: 40px;
  line-height: 40px;
}
.sino-size .sino-drop-content input {
  height: 38px;
  line-height: 38px;
}
.sino-size-mini .sino-drop-content {
  height: 24px;
  line-height: 24px;
}
.sino-size-mini .sino-drop-content input {
  height: 22px;
  line-height: 22px;
}
/* ----------End drop------------ */

/* ----------Begin button---------- */
.sino-button {
  border-radius: 5px;
  text-align: center;
  padding: 0px 20px;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  box-sizing: border-box;
}
.sino-button:hover {
  opacity: 0.7;
}
.sino-button:active {
  opacity: 0.9;
}
.sino-button-save {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff;
}
.sino-button-cancel {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
}
.sino-button-return {
  background-color: #fff;
  border-color: #fff;
  color: #409eff;
}
.sino-button-submit {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff;
}

.sino-button-search {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff;
}
.sino-button-create {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff;
}
.sino-button-edit {
  background-color: #fff;
  border-color: #c0c4cc;
}
.sino-button-delete {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}
.sino-button-size {
  height: 40px;
  line-height: 40px;
}
.sino-button-size-mini {
  height: 24px;
  line-height: 24px;
}
/* ----------End button------------ */

/* ----------Begin table---------- */
.sino-table {
  table-layout: fixed;
  border-collapse: collapse;
}
.sino-table th {
  font-weight: bolder;
}
.sino-table td,
th {
  border-bottom: #c0c4cc 1px solid;
  text-align: center;
  line-height: 45px;
}
/* ----------End table------------ */

