.sk-c-small-title{
    font-size: 16px;
    /* font-weight: 800; */
}
/*------Begin Tab------------*/
.active{
    height: 60px;
  }
.sk-active{
    height: 60px;
    border-bottom: 2px solid skyblue;
}
/*------End Tab------------*/


/*------ begin icon---------*/
@font-face {
    font-family: 'icomoon';
    src:  url('./icon/fonts/icomoon.eot?qb5n6u');
    src:  url('./icon/fonts/icomoon.eot?qb5n6u#iefix') format('embedded-opentype'),
      url('./icon/fonts/icomoon.ttf?qb5n6u') format('truetype'),
      url('./icon/fonts/icomoon.woff?qb5n6u') format('woff'),
      url('./icon/fonts/icomoon.svg?qb5n6u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-calendar:before {
    content: "\e901";
  }
/*---------End icon-------------*/  

/*--------Begin dataPicker--------*/
.sk-c-currDay{
  background: skyblue;
}
.sk-c-none-week {
  color: #aaa;
}
.sk-c-activeDate{
  color: skyblue;
}
.sk-c-activeHours{
  color: skyblue;
}
.sk-c-activetime{
  color: skyblue;
}
.sk-c-datePicker-no{
  border: 1px solid #ccc;
  background: #fff;
}
.sk-c-datetime-no{
  border: 1px solid #ccc;
  background: #fff;
}
.sk-c-datetime-sure{
  border: 1px solid #ccc;
  background: #fff;
  color: skyblue;
}
.ly-c-datePicker-sure{
  border: 1px solid #ccc;
  background: #fff;
  color: skyblue;
}
/*--------end dataPicker--------*/

/*--------start Switch----------*/
.ly-c-switch-input{
  display: none;
}
.ly-c-switch {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  font-size: 10px;
  cursor: pointer;
}
.ly-c-switch-label{
  position: absolute;
  top: 0;
  font-weight: 600;
  color: white;
  z-index: 2;
}
.ly-c-label-left{
  position: absolute;
  left:3px;
  line-height: 20px;
  border-top-left-radius:2px;
  color: #b5bdc8;
}
.ly-c-label-right{
  right:3px;
  line-height: 20px;
  border-top-right-radius:2px;
  border-bottom-right-radius: 2px;
}
.ly-c-switch-button{
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
  transition: 300ms,
}
.ly-c-switch-button{
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
  transition: 300ms,
}
.ly-c-label{
  margin-right: 10px;
}
.ly-c-switch-core {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: border-color 0.3s, background-color 0.3s;
  user-select: none;
  width: 50px;
  height: 20px;
  border-radius: 15px;
  line-height: 20px;
}
/*--------end Switch------------*/