<!--
  单行文本框
  type  取值 text|pass
  size  取值 (空)|mini
  textAlign  取值 left|center|right
-->
<template>
  <div :class="className" class="ly-c-input-container">
    <i v-if="iconAlign=='left'" class="ly-c-iconfont-left"></i>
    <input
      @change="change"
      :placeholder="placeholder"
      :maxlength="maxLength"
      :readonly='readOnly'
      v-bind="$attrs"
      :type="type == 'password' ? 'password' : 'text'"
      :value="value"
      v-on="inputListeners"
      class="sk-sino-border"
      :class="inputclass"
    />
    <i v-if="iconAlign==='right'" class="ly-c-iconfont-right"></i>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  name: "SinoInput",
  props: {
    type: { type: String, default: "text" },
    isShowLabel: { type: Boolean, default: false },
    labelAlign: { type: String, default: "left" },
    placeholder: { type: String, default: "请输入" },
    maxLength: { type: String, default: "200" },
    size: { type: String, default: "" },
    value: { type: String, default: "" },
    readOnly:{ type:Boolean,default: false},
    width:{type:String,default:"100%"},
    icon:{type:String,default:''},
    iconAlign:{ type: String,default:"right"},
  },
  computed: {
    className() {
      return (
        "sino-input" + (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
    inputclass(){
      let name = this.iconAlign;
      let newclass = '';
      newclass = "ly-c-input-"+name;
      return newclass
    },
    labelStyle() {
      return {
        "text-align": this.labelAlign,
      };
    },
    inputListeners: function () {
      var vm = this;
      // `Object.assign` 将所有的对象合并为一个新对象
      return Object.assign(
        {},
        // 我们从父级添加所有的监听器
        this.$listeners,
        // 然后我们添加自定义监听器，
        // 或覆写一些监听器的行为
        {
          // 这里确保组件配合 `v-model` 的工作
          input: function (event) {
            vm.$emit("input", event.target.value);
          },
        }
      );
    },
  },
  methods: {
    change(event){
      this.$emit('onInputChanged',event.target.value)
    }
  },
};
</script>