<!--
  单行文本框
  type  取值 text|pass
  size  取值 (空)|mini
  labelAlign  取值 left|center|right
-->
<template>
  <div :class="className">
    <textarea
      :placeholder="placeHolder"
      :maxlength="maxLength"
      v-bind="$attrs"
      :value="value"
      v-on="inputListeners"
      class="sk-sino-border"
      :style="{ height: height}"
      @change="textchange"
    ></textarea>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  name: "SinoText",
  props: {
    isShowLabel: { type: Boolean, default: false },
    labelText: { type: String, default: "" },
    labelAlign: { type: String, default: "left" },
    placeHolder: { type: String, default: "请输入" },
    maxLength: { type: String, default: "200" },
    size: { type: String, default: "" },
    value: { type: String, default: "" },
    height: { type: String, default: "80px" },
    width: { type: String, default: '100%'},
    readOnly: { type: Boolean, default:false },
  },
  computed: {
    className() {
      return (
        "sino-input" + (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
    labelStyle() {
      return {
        "text-align": this.labelAlign,
      };
    },
    inputListeners: function () {
      var vm = this;
      console.log(this)
      // `Object.assign` 将所有的对象合并为一个新对象
      return Object.assign(
        {},
        // 我们从父级添加所有的监听器
        this.$listeners,
        // 然后我们添加自定义监听器，
        // 或覆写一些监听器的行为
        {
          // 这里确保组件配合 `v-model` 的工作
          input: function (event) {
            vm.$emit("input", event.target.value);
          },
        }
      );
    },
  },
  methods: {
    textchange(event){
      this.$emit('change',event.target.value)
    }
  },
};
</script>