<template>
  <span :class="className">
    {{ text }}
    <slot />
  </span>
</template>
<script>
export default {
  name: "SinoLabel",
  props: {
    text: { type: String, default: "" },
    size: { type: String, default: "" },
  },
  computed: {
    className() {
      return (
        "sino-label-text" +
        (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
  },
};
</script>