<template>
    <div class="ly-c-form-item" :style="FormItemWidth">
        <label class="ly-c-label" :style="labelstyle" v-if="label">{{label}}</label>
        <div :style='labelstyle'  v-if="this.$slots. label && label ===''">
            <slot name="label"></slot>
        </div>
        <div class="ly-c-form-content" :style='ContentStyle'>
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name:"SinoFormItem",
    inject:['getStyleLabel','getItemStyle','getItemWidth'],
    props:{
        labelWidth:{
            type:String,
            default:""
        },
        labelAlign:{
            type:String,
            default:'',
        },
        contentAlign:{
            type:String,
            default:'',
        },
        label:{
            type:String,
            default:''
        },
        multiple:{
            type:Number,
            default:1
        }
    },
    data() {
        return {
            childStyle:{
                textAlign:this.labelAlign,
                width:this.labelWidth, 
            },
            itemwidth:''
        }
    },
    created() {
    },
    computed:{
        labelstyle(){
            let newStyle = {...this.getStyleLabel()};
            if(this.labelWidth!==''){
                newStyle.width = this.labelWidth;
            }
            if(this.labelAlign!==''){
                newStyle.textAlign = this.labelAlign;
            }
            return newStyle
        },
        ContentStyle(){
            let newStyle = {...this.getItemStyle()};
            if(this.contentAlign!==''){
                newStyle.textAlign = this.contentAlign
            }
            return newStyle
        },
        FormItemWidth(){
            let obj ={};
            let width = this.getItemWidth()*this.multiple;
            if(width>=100){
                width = 100;
            }
            let newwidth = width+'%'
            obj.width = newwidth;
            console.log(obj)
            return obj
        }
    },
}
</script>