<template>
    <div class="ly-c-form">
        <slot></slot>
    </div>
</template>
<script>
export default {
    name:"SinoForm",
    props:{
        maxCount:{ // 每行最多显示多少个表单项
            type:Number, 
            default:2
        },
        labelWidth:{ // 每个表单项的标签宽度
            type:String,
            default:''
        },
        labelAlign:{ // 标签对齐方式
            type:String,
            default:'',
        },
        contentAlign:{ // 内容对齐方式
            type:String,
            default:''
        },
        label:{ // 标签内容
            type:String,
            default:''
        }
    },
    provide(){
        return{
            getStyleLabel:this.getStyleLabel,
            getItemStyle:this.getItemStyle,
            getItemWidth:this.getItemWidth
        }
    },
    methods: {
        getStyleLabel(){
            let obj={};
            let {labelWidth,labelAlign} = this;
            if(labelWidth!==''){
                obj.width = labelWidth;
            }
            if(labelAlign!==''){
                obj.textAlign = labelAlign;
            }
            return obj;
        },
        getItemStyle(){
            let obj = {};
            let {contentAlign} = this;
            if(contentAlign!==''){
                obj.textAlign = contentAlign;
            }
            return obj
        },
        getItemWidth(){
           if(this.maxCount>=1){
                let width = 100/this.maxCount;
                return width;
           }
        }
    },
}
</script>