<template>
  <div class="ly-c-dataPicker" :style="{width:width}">
    <input @focus="openDate" v-bind="$attrs" v-on="inputListeners" @change="changeTime"  :value="allDate" type="text" :class="className" placeholder="请选择日期" />
    <div v-if="type=='datetime'||type=='time'" v-show="showDate" class="ly-c-datePicker-input">
        <span style="margin-left:50%">选择日期：</span>
        <input
          @focus="openTime"
          type="text"
          :value="timeValue"
          placeholder="请选择时间"
          class="ly-input-time"
        />
        <div v-if="timeshow" class="ly-c-datePicker-time">
          <ui class="ly-c-hours">
            <li v-for="item in 24" :key="item" :class="hours==item?'sk-c-activeHours':''" @click="changeHours(item)">
              {{ item }}
            </li>
          </ui>
          <ul>
            <li v-for="item in 60" :key="item"  :class="times==item?'sk-c-activetime':''" @click="changeMinutes(item)">
              {{ item }}
            </li>
          </ul>
           <div class="ly-c-time-button">
             <button class="ly-c-datetime-sure sk-c-datetime-sure" @click="sureTime">确定</button>
             <button class="ly-c-datetime-no sk-c-datetime-no" @click="closeTime">取消</button>
           </div>
        </div>
    </div>
    <div v-if="type=='date'||type=='datetime'" class="ly-c-datapicker-dataTime" v-show="showDate">
      <div class="ly-c-calendar-container">
        <div class="ly-c-year">
          <div>
            <span class="ly-c-fl" @click="lastYear">上一年</span>
            <select
              name="status"
              id="status"
              @change="changeYear"
              v-model="selectedYear"
              class="ly-changeSelect"
            >
              <option
                v-for="(item, index) in yearList"
                :key="index"
                :value="item.value"
              >
                {{ item.label }}
              </option>
            </select>
            <span class="ly-c-fl" @click="lastmonth">上一月</span>
            <select
              @change="changeMonth"
              name="status"
              id="status"
              v-model="Selected"
              class="ly-changeSelect"
            >
              <option
                v-for="(item, index) in monthList"
                :key="index"
                :value="item.value"
                :disabled='item.value>=maxValue.getMonth()&&selectedYear==maxValue.getFullYear() || 
                  item.value<minValue.getMonth()-1&&selectedYear==minValue.getFullYear()
                  '
              >
                {{ item.label }}
              </option>
            </select>
            <p>{{ year }}年{{ month + 1 }}月</p>
            <span class="ly-c-fr" @click="nextYear">下一年</span>
            <span class="ly-c-fr" @click="nextMonth">下一月</span>
          </div>
        </div>
        <ul class="ly-c-week">
          <li v-for="(item, index) in weeks" :key="index">{{ item }}</li>
        </ul>
        <ul class="ly-c-date">
          <li
            v-for="(item, index) in nowMonthDays"
            :key="index"
            :class="item.getDate()==activeDate?'sk-c-activeDate':''"
            @click="clickDate(item)"
          >
            {{ item.getDate() }}
          </li>
        </ul>
        <button class="ly-c-datePicker-sure sk-c-datePicker-sure" @click="setallDate">确定</button>
        <button class="ly-c-datePicker-no sk-c-datePicker-no" @click="closedataPicker">取消</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "SinoDatePicker",
  props: {
    type: {
      type: String,
      default: "datetime",
    },
    placeHolder: { type: String, default: "请选择日期" },
    size: { type: String, default: "" },
    width: { type: String, default: "100%" },
    maxValue: { type: Date, default: ()=> new Date(2050,2,1) },
    minValue: { type: Date, default: ()=>  new Date(2010,4,1) },
    // format: { type: Date, default: },
    value: { type: String, default: ()=> new Date() },
  },
  data() {
    return {
      year: new Date().getFullYear(),
      month: new Date().getMonth(),
      hours: "",
      times: "",
      curDate: [],
      num: 1,
      weeks: [
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六",
        "星期日",
      ],
      monthList: [],
      yearList: [],
      Selected: "",
      selectedYear: "",
      showDate: false, // 选择时间和日期
      timeValue:'',
      timeshow: false, // 选择时间
      allDate:this.value,
      activeDate:new Date().getDate(),
      datetime:this.dateFormat(new Date())
    };
  },
  created() {
    this.getYearList();
    this.getSelectMonth();// 选择月份默认值
    this.Selectedvalue();//选择年份默认值 
    this.getTime()// 获取当前时间
  },
  computed: {
    nowMonthDays() {
      return this.getcurrMonthDay(this.year, this.month);
    },
    className() {
      return (
        "sino-input" + (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
    defaultDate(){
      return this.dateFormat(this.value)
    },
    inputListeners: function () {
      var vm = this;
      // `Object.assign` 将所有的对象合并为一个新对象
      return Object.assign(
        {},
        // 我们从父级添加所有的监听器
        this.$listeners,
        // 然后我们添加自定义监听器，
        // 或覆写一些监听器的行为
        {
          // 这里确保组件配合 `v-model` 的工作
          input: function (event) {
            vm.$emit("input", event.target.value);
          },
        }
      );
    },
  },
  methods: {
    openDate() {
      this.showDate = true;
    },
    getYearList() {
      this.yearList = [];
      for (let i = this.minValue.getFullYear(); i <= this.maxValue.getFullYear(); i++) {
        this.yearList.push({ value: i, label: i + "年" });
      }
    },
    // 获取月份列表
    getSelectMonth() {
      this.monthList = [];
      for (let i = 0; i < 12; i++) {
        this.monthList.push({ value: i, label: i + 1 + "月" });
      }
    },
    // 默认选中年份、月份
    Selectedvalue() {
      this.monthList.forEach((item) => {
        if (item.value == new Date().getMonth()) {
          this.Selected = item.value;
          return;
        }
      });
      this.yearList.forEach((item) => {
        if (item.value == new Date().getFullYear()) {
          this.selectedYear = item.value;
        }
        return;
      });
    },
    getcurrMonthDay(year, month) {
      // 第一步 获取当前月份的天数数组
      let curMonArr = [];
      let date = new Date(year, month); // 当前月份第一天
      let mon = date.getMonth(); // 获取当前月份数
      let nextmon = date.getMonth(); // 下月结点
      while (mon == nextmon) {
        curMonArr.push(
          new Date(date.getFullYear(), date.getMonth(), date.getDate())
        ); // 重新初始化一个日期添加到月份天数的数组中
        date.setTime(date.getTime() + 3600 * 24 * 1000); // 每添加一次 往后加一天
        nextmon = date.getMonth();
      }
      // 第二步 获取剩余需要展示的下月日期
      while (date.getDay() != 1) {
        // 当前日期不是星期一的时候跳出循环
        curMonArr.push(
          new Date(date.getFullYear(), date.getMonth(), date.getDate())
        );
        date.setTime(date.getTime() + 3600 * 24 * 1000); // 每添加一次 往后加一天
      }
      // 第三步 获取当前月份1号之前需要补齐的天数
      date = new Date(year, month); // 重置到当月1号
      while (date.getDay() != 1) {
        date.setTime(date.getTime() - 3600 * 24 * 1000);
        curMonArr.unshift(
          new Date(date.getFullYear(), date.getMonth(), date.getDate())
        );
      }
      return curMonArr;
    },
    nextMonth() {
      this.month++;
      if (this.month > 11) {
        this.month = 0;
        this.year++;
      }
      this.getcurrMonthDay(this.year, this.month);
    },
    lastmonth() {
      this.month--;
      if (this.month < 0) {
        this.month = 11;
        this.year--;
      }
      this.getcurrMonthDay(this.year, this.month);
    },
    // 上一年
    lastYear() {
      this.year--;
      console.log(this.year);
    },
    // 下一年
    nextYear() {
      this.year++;
    },
    //选择月份
    changeMonth() {
      this.month = this.Selected;
    },
    // 选择年份
    changeYear() {
      this.year = this.selectedYear;
    },
    // 选择日期
    clickDate(itemdate) {
      this.datetime = this.dateFormat(itemdate);
      this.activeDate = itemdate.getDate();
      this.allDate = this.dateFormat(itemdate);
    },
    // 转换日期格式方法
    dateFormat(time) {
      let date = new Date(time);
      let year = date.getFullYear();
      let month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

      // 拼接
      return year + "-" + month + "-" + day + " ";
    },
    // 打开时间选择器
    openTime(){
      this.timeshow = true;
    },
    // 获取当前时间
    getTime() {
      this.hours =
        new Date().getHours() < 10
          ? "0" + new Date().getHours()
          : new Date().getHours();
      this.times =
        new Date().getMinutes() < 10
          ? "0" + new Date().getMinutes()
          : new Date().getMinutes();
      this.timeValue = this.hours + ":" + this.times;
    },
    //选择小时
    changeHours(hours) {
      this.hours = hours < 10 ? "0" + hours : hours;
      this.timeValue = this.hours + ":" + this.times;
      // this.timeshow = false;
    },
    // 选择分钟
    changeMinutes(Minutes) {
      this.times = Minutes < 10 ? "0" + Minutes : Minutes;
      this.timeValue = this.hours + ":" + this.times;
    },
    // 确定时间
    closeTime(){
      this.hours =
        new Date().getHours() < 10
          ? "0" + new Date().getHours()
          : new Date().getHours();
      this.times =
        new Date().getMinutes() < 10
          ? "0" + new Date().getMinutes()
          : new Date().getMinutes();
      this.timeValue = this.hours + ":" + this.times; 
      this.timeshow = false;
    },
    sureTime(){
      this.timeshow = false;
    },
    // 输出最终日期
    setallDate(){
      this.allDate = this.datetime + this.timeValue
      this.showDate = false;
    },
    // 关闭选择器
    closedataPicker(){
      this.showDate = false;
    },
    // change 事件
    changeTime(event){
      this.$emit('timeChange',event.target.value)
    }
  },
};
</script>

