
<template>
  <label :class="['ly-c-switch', { openflag }]">
    <input
      type="checkbox"
      :checked="openflag"
      ref="input"
      class="ly-c-switch-input"
      @change="changeStaus"
    />
    <div style="display:flex; align-items: center;">
      <div v-if="label !== '' " class="ly-c-label">{{label}}</div>
      <div
        class="ly-c-switch-core"
        :style="{ backgroundColor: openflag ? open : close }"
      >
        <div
          class="ly-c-switch-button"
          :style="{
            transform: openflag ? null : `translate3d(30px, 0px, 0px)`,
          }"
        ></div>
        <span class="ly-c-switch-label ly-c-label-right" v-if="openflag">开启</span>
        <span class="ly-c-switch-label ly-c-label-left" v-else>关闭</span>
      </div>
    </div>
  </label>
</template>
<script>
export default {
  name: "SinoSwitch",
  data() {
    return {
      openflag: this.value,
      open: "#11CED2",
      close: "#E6EAF1",
    };
  },
  props: {
    value: {
      type: Boolean,
      default: true,
    },
    size: {
      type: String,
      default: "40px",
    },
    label:{
        type:String,
        default:''
    }
  },
  watch: {
    value: function (val) {
      this.value = val;
    },
  },
  methods: {
    changeStaus() {
      this.openflag = !this.openflag;
      this.$emit("change", this.$refs.input.checked);
    },
  },
};
</script>