<template>
  <div class="ly-c-grid">
    <div v-for="i of rowCount" :key="i" class="ly-c-grid-row">
      <div
        v-for="j of colCount"
        :key="j"
        class="ly-c-grid-col"
        :style="colStyles[j - 1]"
      >
        <slot :name="(i - 1) * colCount + j"></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "SinoGrid",
  props: {
    row: { type: String, default: "2" },
    col: { type: String, default: "2" },
    colFlex: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {
    rowCount() {
      return parseInt(this.row, 10);
    },
    colCount() {
      return parseInt(this.col, 10);
    },
    colFlexs() {
      let arr = new Array();
      for (let i = 0; i < this.col; i++) {
        if (i < this.colFlex.length) {
          let n = parseInt(this.colFlex[i].flex, 10);
          n = isNaN(n) ? 1 : n;
          n = n <= 0 ? 1 : n;
          arr.push(n);
        } else {
          arr.push(1);
        }
      }
      return arr;
    },
    colStyles() {
      let arr = new Array();
      for (let i = 0; i < this.colCount; i++) {
        arr.push({ flex: this.colFlexs[i] });
      }
      return arr;
    },
  },
};
</script>