<template>
  <div :class="className">
    <label
      v-if="isShowLabel"
      class="sino-label"
      :style="labelStyle"
    >
      {{ labelText }}
    </label>
    <div class="sino-list">
      <div
        :class="'sino-list-item' + (item.checked ? ' checked' : '')"
        v-for="item in checkBoxList"
        :key="item.value"
        :value="item.value"
        @click="changeItemChecked(item)"
      >
        <span class="sino-checkbox" />
        <span class="sino-label-text">{{ item.text }}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "SinoCheck",
  props: {
    isSingle: { type: Boolean, default: false },
    isShowLabel: { type: Boolean, default: false },
    labelText: { type: String, default: "" },
    labelAlign: { type: String, default: "left" },
    size: { type: String, default: "" },
    items: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      checkBoxList: [],
      checkedList: [],
    };
  },
  computed: {
    className() {
      return (
        "sino-check" + (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
    labelStyle() {
      return {
        "text-align": this.labelAlign,
      };
    },
  },
  created() {
    let arr = new Array();
    for (let i = 0; i < this.items.length; i++) {
      let mdl = new Object();
      for (let key in this.items[i]) {
        mdl[key] = this.items[i][key];
      }
      mdl.checked = false;
      arr.push(mdl);
    }
    this.checkBoxList = arr;
  },
  methods: {
    changeItemChecked(item) {
      item.checked = !item.checked;
      if (item.checked && this.isSingle) {
        for (let i = 0; i < this.checkBoxList.length; i++) {
          if (this.checkBoxList[i] != item) {
            this.checkBoxList[i].checked = false;
          }
        }
        this.value.splice(0, this.value.length);
      }
      if (item.checked) {
        if (this.value.filter((r) => r == item.value).length == 0) {
          this.value.push(item.value);
        }
      } else {
        for (let i = 0; i < this.value.length; i++) {
          if (this.value[i] == item.value) {
            this.value.splice(i, 1);
            break;
          }
        }
      }
      this.$emit("change", this.value);
    },
  },
};
</script>
