<template>
  <div
    :class="className"
    :style="{ width: width }"
  >
    <div
      class="sino-drop-content sk-sino-border"
      @click="onShowDropDown"
    >
      <input
        v-if="canFilter"
        type="text"
        v-model="selectedItemText"
        :placeholder="placeholder" 
      >
      <span
        v-else
        style="width: 100%"
      >{{ selectedItemText }}</span>
      <span :class="iconClassName" />
    </div>
    <ul
      class="sino-dropdown"
      v-show="isShowDropDown"
    >
      <li
        v-for="item in Searchdata"
        :key="item[textKey]"
        :value="item[valueKey]"
        @click="onSelected(item, $event)"
      >
        {{ item[textKey] }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "SinoDrop",
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: { type: String, default: "" },
    placeholder: { type: String, default: "请选择" },
    canFilter: { type: Boolean, default: false },
    size: { type: String, default: "" },
    width: { type: String, default: "" },
    data: {
      type: Array,
      default() {
        return [];
      },
    },
    valueKey: { type: String, default: "Value" },
    textKey: { type: String, default: "Text" },
  },
  data() {
    return {
      isShowDropDown: false,
      selectedItemText: "",
      Searchdata: this.data,
    };
  },
  computed: {
    className() {
      return (
        "sino-check sino-drop" +
        (this.size == "mini" ? " sino-size-mini" : " sino-size")
      );
    },
    iconClassName() {
      return (
        "sino-icon " + (this.isShowDropDown ? "sino-icon-up" : "sino-icon-down")
      );
    },
  },
  watch: {
    selectedItemText: {
      handler(val) {
        let reg = new RegExp(val);
        if (this.canFilter) {
          this.Searchdata = this.data.filter(function (item, index, arr) {
            return reg.test(item.Value);
          });
        }
      },
    },
  },
  created() {
    document.body.addEventListener("click", (e) => {
      setTimeout(() => {
        this.isShowDropDown = false;
      }, 100);
    });
  },
  methods: {
    onShowDropDown(e) {
      this.isShowDropDown = true;
      e.stopPropagation();
      return false;
    },
    //点击内容进行赋值
    onSelected(item, e) {
      this.selectedItemText = item.Text;
      this.isShowDropDown = false;
      this.$emit("change", item.Value);
      e.stopPropagation();
      return false;
    },
  },
};
</script>