<template>
  <div class="ly-c-tab">
    <div class="ly-c-tabCard">
      <div class="active" v-for="(item,index) in pageList" :key="index" @click="changeTab(item,index)">{{item.title}}</div>
    </div>
    <div class="ly-tabtext">
      <slot></slot>
    </div>
  </div>
</template> 
<script>
export default {
  name:"SinoTab",
  data() {
    return { 
      pageList:[],
      curIndex:0,
    }
  },
  props:{
    index:{
      type:Number,
      default:0
    },
    model:{
      type:String,
      default:'label'
    },
    width:{
      type:String,
      default:"",
    }
  },
  provide(){
    return{
      addchild:this.addchild,
      pageList:this.pageList, 
      changeTabs:this.changeTab, // 点击切换
    }
  },
  methods: {
    addchild(childnode){
      this.pageList.push(childnode);
    },
    changeTab(item,activeIndex){
      console.log(item)
      this.curIndex = activeIndex;
    }
  },
}
</script>