<template>
    <div>
        <div v-if="title!=='' && !this.$slots.context">{{title}}</div>
        <div v-if="this.$slots.context ">
           <slot name="context"></slot>
        </div>
    </div>
</template>
<script>
export default {       
    name:'SinoTabPage',
    inject:['addchild','changeTabs'],
    created(){
        this.addchild(this);
        this.changeTabs()
    },
    mounted() {
        
    },
    data() {   
        return {
            activeIndex:0,
        }
    },
    props:{
        title:{
            type:String,
            default:''
        },
    },
    methods: {
        
    },

}
</script>