<template>
  <div>
    <sino-grid
      :row="3"
      :col="3"
      :col-flex="[2, 2]"
    >
      <template v-slot:1>
        <sino-input
          :is-show-label="true"
          text-align="right"
          v-model="inputVal"
          :icon-align="'right'"
          @change="onInputChanged"
          @input="onInput"
        />
        <sino-text
          size="mini"
          :is-show-label="true"
          label-text="姓名1"
          text-align="right"
          v-model="textVal"
          @change="onTextChanged"
          @input="onTextInput"
          height="200px"
        />
        <sino-label>{{ textVal }}</sino-label>
      </template>
      <template v-slot:2>
        <SinoCheck
          :is-show-label="true"
          label-text="姓名"
          text-align="right"
          :items="items"
          v-model="checkeds"
          @change="onCheckedChanged"
          :is-single="true"
        />
        <SinoDrop
          :data="items"
          v-model="checkedDrop"
          @change="onDropChanged"
          :can-filter="true"
          size="mini"
          width="50%"
        />
      </template>
      <template v-slot:3>
        <SinoButton type="save">
          保存
        </SinoButton>
        <SinoButton type="">
          无
        </SinoButton>
        <SinoButton type="submit">
          提交
        </SinoButton>
        <SinoButton type="return">
          返回
        </SinoButton>
        <SinoButton type="cancel">
          取消
        </SinoButton>
        <SinoButton type="create">
          新建
        </SinoButton>
        <SinoButton type="edit">
          编辑
        </SinoButton>
        <SinoButton type="delete">
          删除
        </SinoButton>
      </template>
      <template v-slot:4>
        <SinoDatatable
          :data="tableData"
          :columns="cols"
        />
      </template>
      <template v-slot:9>
        9
      </template>
    </sino-grid>
    <sino-grid
      :row="3"
      :col="3"
    >
      <template v-slot:1>
        <sino-container 
          :footer-height="footerHeight" 
          :headerheight="headerHeight"
          :left-width="leftWidth"
          :right-width="rightWidth"
        >
          <div
            slot="header"
            style="height:100%;background:rgb(179,192,209)"
          >
            我是头部
          </div>
          <div
            slot="left"
            style="height:300px;background:rgb(211,220,230)"
          >
            我是左边栏
          </div>
          <div slot="context">
            内容区
          </div>
          <div
            slot="right"
            style="height:300px;background:rgb(211,220,230)"
          >
            我是右侧栏
          </div>
          <div
            slot="footer"
            style="height:100%;background:rgb(179,192,209)"
          >
            我是底部
          </div>
        </sino-container>
      </template>
      <template v-slot:2>
        <sino-card
          :bgcolor="color"
          :title="'我是卡片标题'"
          :radius="radius"
        >
          <!-- <template slot="header">
            我是卡片标题
          </template> -->
          <div>我是卡片内容</div>
        </sino-card>
      </template>
      <template v-slot:3>
        <sino-tab :index="0">
          <sino-tab-page title="张三">
            <template slot="context">
              第一页
            </template>
          </sino-tab-page>
          <sino-tab-page title="李四">
            <template slot="context">
              第二页
            </template>
          </sino-tab-page>
          <sino-tab-page title="王五">
            <template slot="context">
              第三页
            </template>
          </sino-tab-page>
          <sino-tab-page title="小六" />
        </sino-tab>
      </template>
    </sino-grid>
    <sino-grid
      :row="2"
      :col="2"
    >
      <template v-slot:1>
        <sino-form
          :content-align="'right'"
          :label-align="'center'"
          :label-width="'30%'"
        >
          <sino-form-item label="名称">
            <input
              type="text"
              placeholder="请输入名称"
            >
          </sino-form-item>
          <sino-form-item label="级别">
            <input
              type="text"
              placeholder="请输入级别"
            >
          </sino-form-item>
          <sino-form-item
            :multiple="2"
            label="类型"
          >
            <input
              type="text"
              placeholder="请输入类型"
            >
          </sino-form-item>
        </sino-form>
      </template>
      <template v-slot:2>
        <sino-date-picker
          v-model="date"
          :type="datatime"
        />
      </template>
    </sino-grid>    
    <sino-switch
      @change="changeSwitch"
      label="开关"
      v-model="value"
    />
    <Dialog />
  </div>
</template>
<script>
import Dialog from './sino-ui/dialog/demo'
export default {
  name: "App",
  components:{
    Dialog
  },
  data() {
    return {
      value:true,// 开关
      inputVal: "张三",
      textVal:"123",
      items: [
        { Text: "111", Value: "111" },
        { Text: "222", Value: "222" },
        { Text: "333", Value: "333" },
      ],
      checkeds: [],
      checkedDrop: "",
      tableData: [
        { C1: "张三", C2: "男", C3: "18523121234", C4: 24 },
        { C1: "张三1", C2: "男1", C3: "18523121234", C4: 34 },
        { C1: "张三2", C2: "男2", C3: "18523121234", C4: 14 },
      ],
      cols: [
        {
          Title: "列1",
          Name: "C1",
          Width: "30%",
        },
        {
          Title: "列2",
          Name: "C2",
          Width: "30%",
        },
        {
          Title: "列3",
          Name: "C3",
          Width: "30%",
        },
        {
          Title: "列4",
          Name: "C4",
          Width: "10%",
        },
      ],
      list:[
        {
          name:"张三",
          active:'1238'
        },
        {
          name:"李四",
          active:"309345"
        },
        {
          name:"王五",
          active:"4379",
        }
      ],
      headerHeight:'60px',
      footerHeight:'60px',
      leftWidth:'130px',
      rightWidth:'130px',
      color:'skyblue',
      title:'卡片标题',
      radius:'20px',// 卡片圆角,
      curIndex:0,
      teb_width:"300px",
      date:"2021-04-09" ,// 时间日期选择器默认值
    };
  },
  methods: {
    //  单行文本框change事件
    onInputChanged(v) {
      console.log(this.textVal,'文本内容');
      console.log(v);
    },
    // 多行文本框change事件
    onTextChanged(v){
      console.log(v)
    },
    // 单行文本框 事件
    onInput(v){
      console.log(v)
    },
    // 多行文本框 
    onTextInput(v){
      console.log(v)
    },
    onCheckedChanged(v) {
      console.log(this.checkeds);
      console.log(v);
    },
    onDropChanged(v) {
      console.log(this.checkedDrop);
      console.log(v);
    },
    // teb 点击选项卡 触发的事件
    changeTab(item,index){
      console.log(item,index)
      this.curIndex = index
    },
    // 开关的change 事件
    changeSwitch(event){
      console.log(event)
    }
  },
};
</script>
<style>
@import "./styles/site.css";
@import "./styles/lysite.css";
@import "./styles/sksite.css";
</style>